<div class='center'>
    {{{ Header text="Вход" }}}
    {{{ Input ref="login" type="login" }}}
    {{{ Input ref="password" type="password" }}}
    {{{ Button text="Авторизоваться" onClick=onSubmit }}}
    {{{ Button text="Нет аккаунта?" }}}
</div>
